/* Header of website */
header {
  text-align: center;
}

.background {
  background-color: #47484A;
}


/* Background Image */
.bg-img {
  width: 100%;
  height: 100%;
  filter: blur(5.5px);
  background-size: cover;
  background-repeat: no-repeat;
}

/*Everything about the menu*/
.Menu a {
  color: #D49796;
  text-align: center;
  text-decoration: none;
  font-size: 29px;
}

.Menu a:hover {
  background-color: #D49796;
  color: black;
  transform: scale(1.1);
}

/*Content part of website*/

.Columns {
  width: 100%;
  height: 50%;
}


.card {
width: 100%;
}

.card_img {
  display: inline;
  position: relative;
  width: 300px;
  height: 330px;
  overflow: hidden;
}

.profile {
  width: 200px;
  height: 220px;
}
.codespace {
  width: 200px;
  height: 200px;
}

.up {
  width: 200px;
  height: 200px;
}

.office {
  width: 100px;
  height: 100px;
}

.offices {
  width: 50px;
  height: 50px;
}


h1 {
  color: #DCAE96;
}

.p1 {
  color: #D49796;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

.p1:hover {
  background-color: #47484A;
}

/* Contact Details*/
.LinkedIn {
  width: 60px;
  outline: 0;
}

.Gmail {
  width: 60px; 
}

.Contact {
  width: 60px;
}

/*Heading 3 tags*/
h3 {
  color: #47484A
}

.CodeSpace {
  color: #D49796;
  text-decoration: none;
  font-size: 20px;
}
.CodeSpace:hover {
  background-color: #47484A;
  color: #DCAE96;
  transform: scale(1.1);
  padding: 3px;
}

.UP {
  color: #D49796;
  text-decoration: none;
  font-size: 20px;
}

.UP:hover {
  background-color: #47484A;
  color: #DCAE96;
  transform: scale(1.1);
  padding: 3px;
}

.HFM {
  color: #D49796;
  text-decoration: none;
  font-size: 20px;
}

.HFM:hover {
  background-color: #47484A;
  color: #DCAE96;
  transform: scale(1.1);
  padding: 3px;
}

/* Footer of website */
footer {
  background-color: #47484A;
  text-align: center;
}

/*
@media only screen and (min-width: 901px) {
  .Menu a {
    font-size: 29px;
  }

}


@media only screen and (max-width: 900px) {
  .Menu a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .Menu a {
    font-size: 10px;
  }

  .Menu {
    display: flex;
    flex-direction: column;
    line-height: 15px;
  }

  .responsiveClass {
    display: flex;
    flex-direction: column;
  }

  .responsiveClass .card_img {
    margin: auto;
  }
}
*/