/* Header of website */
header {
  text-align: center;
  max-width: 98.9vw !important;
}

.background {
  background-color: #47484A;
}


/* Background Image */
.bg-img {
  width: 98.9vw;
  height: 140vw;
  filter: blur(5.5px);
  background-size: cover;
  background-repeat: no-repeat;
}

/*Everything about the menu*/

.row {
  --bs-gutter-x: 0 !important;
  max-width: 98.9vw !important;
}


.position-absolute {
  width: 98.9vw !important;
  max-width: 98.9vw !important;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.Menu a {
  color: #D49796;
  text-align: center;
  text-decoration: none;
  font-size: 29px;
}

.Menu a:hover {
  background-color: #D49796;
  color: black;
  transform: scale(1.1);
}

/*Content part of website*/

.MCards {
  padding-left: 15%;
  padding-right: 15%;
}

.Columns {
  width: 100%;
  height: 50%;
}

.card {
  width: 100%;
}

.card_img {
  display: inline;
  position: relative;
  width: 300px;
  height: 330px;
  overflow: hidden;
}

/* Images on cards */
.codespace {
  width: 200px;
  height: 200px;
}

.hfm {
  width: 200px;
  height: 200px;
}

.up {
  width: 200px;
  height: 200px;
}

.tutors {
  width: 300px;
  height: 120px;
}

.office {
  width: 100px;
  height: 100px;
}

.offices {
  width: 50px;
  height: 50px;
}

.golden {
  width: 200px;
  height: 200px;
}

/* Headings */
h1 {
  color: #DCAE96;
}

.h4 {
  color: #DCAE96;
}

.P1 {
  color: #D49796;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

.P1:hover {
  background-color: #47484A;
}

/* Contact Details*/
.Contact {
  width: 60px;
}

.Contact:hover {
  transform: scale(1.1);
}

.profile {
  width: 220px;
  height: 250px;
  border: 5px #DCAE96 solid;
}

/*Heading inside cards*/
h3 {
  color: #47484A
}

.CodeSpace {
  color: #D49796;
  text-decoration: none;
  font-size: 20px;
}

.CodeSpace:hover {
  background-color: #47484A;
  color: #DCAE96;
  transform: scale(1.1);
  padding: 3px;
}

.UP {
  color: #D49796;
  text-decoration: none;
  font-size: 20px;
}

.UP:hover {
  background-color: #47484A;
  color: #DCAE96;
  transform: scale(1.1);
  padding: 3px;
}

.HFM {
  color: #D49796;
  text-decoration: none;
  font-size: 20px;
}

.HFM:hover {
  background-color: #47484A;
  color: #DCAE96;
  transform: scale(1.1);
  padding: 3px;
}

/* Form */
.form {
  max-width: 550px;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

input[type=text],
select,
input[type=number],
input[type=email] {
  width: 250px;
  padding: 12px;
  border-width: 4px;
  border-style: solid;
  border-color: #EED6D3;
  border-radius: 4px;
  resize: vertical;
  color: #47484A;
}

textarea {
  width: 50%;
  padding: 12px;
  border-width: 4px;
  border-style: solid;
  border-color: #EED6D3;
  border-radius: 4px;
  resize: vertical;
  height: 200px;
  margin-bottom: 10px;
}


.LB {
  float: left;
  width: 25%;
  text-align: right;
  color: #DCAE96;
  font-size: 18px;
}


.IP {
  width: 100%;
  font-size: 16px;
  color: #DCAE96;
  outline: none;
  resize: none;

}


.form-check-label {
  color: #DCAE96 !important;
}

.DD {
  width: 46%;
  border-radius: 6px;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer of website */
footer {
  background-color: #47484A;
  text-align: center;
}

/* Animation */
.LinkedIn {
  width: 60px;
}

.LinkedIn:hover {

  animation-name: LinkedInLogo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}

@keyframes LinkedInLogo {
  0% {
    border-style: dashed;
    border-color: #47484A;
    border-radius: 50%;
    transform: rotate(360deg);
    transform: scale(1.5);
    border-width: 7px;
    width: 60px;
    filter: brightness(150%)
  }


  50% {
    border-style: dashed;
    border-color: #D49796;
    border-radius: 50%;
    transform: rotate(360deg);
    border-width: 7px;
    width: 60px;
    filter: brightness(100%)
  }

  100% {
    border-style: dashed;
    border-color: #D49796;
    border-radius: 50%;
    transform-style: rotate(360deg);
    border-width: 7px;
    width: 60px;
    filter: brightness(150%);
  }
}

.Gmail {
  width: 60px;
}

.Gmail:hover {
  transform: scale(1.5);
}



@media only screen and (max-width: 300px) {

  .Columns {
    width: 100vw;
    margin-top: 650vw;
  }

  .card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .up {
    width: 145px;
    height: 160px;
  }

  .hfm {
    width: 150px;
    height: 160px;
  }

  .codespace {
    width: 150px;
    height: 160px;
  }

  .tutors {
    width: 160px;
    height: 130px;
  }

  .golden {
    width: 150px;
    height: 160px;
  }

  .bg-img {
    width: 100vw;
    height: 180vw;
  }

  .Menu a {
    color: #D49796;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  .text {
    font-size: 15px;
    padding: 0;
  }

  .P1 {
    color: #D49796;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
  }

  .P1:hover {
    background-color: #47484A;
  }

  .LB {
    width: fit-content;
    text-align: center;
    color: #DCAE96;
    font-size: 17px;
  }

  .IP {
    width: 200px !important;
    font-size: 10px;
    color: #DCAE96;
  }

  .DD {
    width: fit-content;
    font-size: 10px;
  }

  .form {
    max-width: 550px;
    width: 80%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
  }

  .form-check-label {
    color: #DCAE96 !important;
    text-align: center;
    font-size: 13px;
  }
  .form-check-input {
    color: #DCAE96 !important;
    text-align: center;
    font-size: 15px;
  }

  textarea {
    width: 60%;
    font-size: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #EED6D3;
    border-radius: 4px;
    resize: vertical;
    height: 200px;
    margin-bottom: 10px;
  }
}



@media only screen and (min-width: 301px) {
  
  .Columns {
    width: 100vw;
    margin-top: 630vw;
  }

  .card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .up {
    width: 145px;
    height: 160px;
  }

  .hfm {
    width: 150px;
    height: 160px;
  }

  .codespace {
    width: 150px;
    height: 160px;
  }

  .tutors {
    width: 160px;
    height: 130px;
  }

  .golden {
    width: 150px;
    height: 160px;
  }

  .bg-img {
    width: 100vw;
    height: 180vw;
  }

  .Menu a {
    color: #D49796;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
  }

  .text {
    font-size: 15px;
    padding: 0;
  }

  .P1 {
    color: #D49796;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
  }

  .P1:hover {
    background-color: #47484A;
  }

  .LB {
    float: left;
    width: fit-content;
    text-align: center;
    color: #DCAE96;
    font-size: 17px;
    padding-left: 10px;
  }

  .IP {
    width: 200px !important;
    font-size: 10px;
    color: #DCAE96;
  }

  .DD {
    width: fit-content;
    font-size: 10px;
  }

  .form {
    max-width: 550px;
    width: 80%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
  }

  .form-check-label {
    color: #DCAE96 !important;
    text-align: center;
    font-size: 13px;
  }
  .form-check-input {
    color: #DCAE96 !important;
    text-align: center;
    font-size: 15px;
  }

  textarea {
    width: 60%;
    font-size: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #EED6D3;
    border-radius: 4px;
    resize: vertical;
    height: 200px;
    margin-bottom: 10px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}