header {
  background-color: #47484A;
  text-align: center;
  padding-bottom: 30px;
}

body {
  font-family: Tahoma;
  font-size: 110%;
  background-color: #DBCAC0;
  display: flex;
  flex-direction: column;
}

/* Menu on top of the Resume*/
.Menu {
  background-color: #47484A;
  overflow: hidden;
}

.Menu a {
  float: center;
  color: #D49796;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
  font-size: 25px;
  padding-top: 20px;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
}

.Menu a:hover {
  background-color: #D49796;
  color: #DBCAC0;
}


.content {
  display: flex;
  flex-direction: column;
  overflow: unset;
  margin-left: 20px;
  background-image: url("large.jpg");
  
}


main {
  display: flex;
}

/* Introduction statement*/
.Introduction {
  background-color: #47484A;
  font-size: 100%;
  width: 45%;
}

.P1 {
  color: #DCAE96;
  font-size: 20px;
  word-spacing: 3px;
  display: inline-block;
  padding: 30px; 
  padding-top: 50px;
  white-space: pre-line;
}

h1 {
  color: #EED6D3;
  font-size: x-large;
  padding-left: 10px;
  padding-top: 20px;
}

/* Profile Photo on the side of the Resume*/
.ProfilePhoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-color: #D49796;
  border-width: 5px;
  margin-left: 80px;
  margin-top: 70px;
}

/* Contact Details*/
.LinkedIn {
  width: 50px;
  padding: 20px;
}

.LinkedIn:hover {
  animation-name: LinkedInLogo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}

@keyframes LinkedInLogo {
  0% {
    border-style: dashed;
    border-color: #47484A;
    border-radius: 50%;
    transform: rotate(360deg);
    border-width: 7px;
    width: 50px;
    filter: brightness(150%)
  }

  25% {
    border-style: dashed;
    border-color: #EED6D3;
    border-radius: 50%;
    transform: rotate(360deg);
    border-width: 4px;
    width: 50px;
    filter: brightness(100%)
  }

  50% {
    border-style: dashed;
    border-color: #D49796;
    border-radius: 50%;
    transform: rotate(360deg);
    border-width: 7px;
    width: 50px;
    filter: brightness(100%)
  }

  75% {
    border-style: dashed;
    border-color: #EED6D3;
    border-radius: 50%;
    transform-style: rotate(360deg);
    border-width: 4px;
    width: 50px;
    filter: brightness(100%)
  }

  100% {
    border-style: dashed;
    border-color: #D49796;
    border-radius: 50%;
    transform-style: rotate(360deg);
    border-width: 7px;
    width: 50px;
    filter: brightness(150%);
  }
}

.Gmail {
  width: 50px;
  padding: 20px;
}

/* Heading 2 tags*/
h2 {
  font-size: larger;
  color: #DCAE96;
  background-color: #47484A;
  text-align: center;
  margin: 15px;
  padding: 5px;
}

/*Heading 3 tags*/
h3 {
  color: #47484A
}

.CodeSpace {
  color: #47484A;
}

.UP {
  color: #47484A;
}

.HFM {
  color: #47484A;
}

footer {
  background-color: #47484A;
  text-align: center;
}